---
title: Home
---

<img class="avatar" src="../images/avatar.svg"></img>
<section>
  <h2>Nakaya</h2>
  <div>
    <p>a Web Developer</p>
  </div>
</section>
<%= partial "components/about.html.slim" %>
<%= partial "components/skills.html.slim" %>
<%= partial "components/works.html.slim" %>
<%= partial "components/links.html.slim" %>
